<div class="card_container">
    <div class="user_card">
        <h3 class="card-name magic_title yugi_title poke_title">
            Card Name: {{name}}
        </h3>
                <p id="card-game" class="game_p hide">
                    {{game}}
                </p>
                <p id="deck-id" class="game_p hide">
                    {{deck_id}}
                </p>
            {{#if magic}}
                <p class="magic_p">
                    Type: {{magic.0.typeMagic}}
                </p>
                <p class="magic_p">
                    Description: {{magic.0.textMagic}}
                </p>
                <p class="magic_p">
                    Color(s): {{magic.0.colorsMagic}}, {{magic.0.colorIdentityMagic}}
                </p>
                <p class="magic_p">
                    Mana Cost: {{magic.0.manaCostMagic}}
                </p>
                <p class="magic_p">
                    Converted Mana Cost: {{magic.0.cmcMagic}}
                </p>
                <p id="card-id" class="hide magic_p">
                    {{id}}
                </p>
                <button type="button" class="delete-card-btn">Delete Card</button>
            {{/if}}
            {{#if yugis}}
                <p class="yugi_p">
                    Attack: {{yugis.0.atkYugi}}
                </p>
                <p class="yugi_p">
                    Defense: {{yugis.0.defYugi}}
                </p>
                <p class="yugi_p">
                    Level: {{yugis.0.levelYugi}}
                </p>
                <p class="yugi_p">
                    Attribute: {{yugis.0.attributeYugi}}
                </p>
                <p class="yugi_p">
                    Race: {{yugis.0.raceYugi}}
                </p>
                <p class="yugi_p">
                    Type: {{yugis.0.typeYugi}}
                </p>
                <p class="yugi_p">
                    Description: {{yugis.0.descYugi}}
                </p>
                <p id="card-id" class="hide yugi_p">
                    {{id}}
                </p>
                <button type="button" class="delete-card-btn">Delete Card</button>
                ===================
            {{/if}}
            {{#if pokes}}
                <p>
                    HP: {{pokes.0.hpPoke}}
                </p>
                <p>
                    Supertype: {{pokes.0.supertypePoke}}
                </p>
                <p>
                    Type(s): {{pokes.0.typesPoke}}
                </p>
                <p>
                    Subtype(s): {{pokes.0.subtypesPoke}}
                </p>
                <p>
                    Evolves to: {{pokes.0.evolvesToPoke}}
                </p>
                <p>
                    Ability name(s): {{pokes.0.abilitiesPoke.0.name}}
                </p>
                <p>
                    Ability text(s): {{pokes.0.abilitiesPoke.0.text}}
                </p>
                <p>
                    Ability type(s): {{pokes.0.abilitiesPoke.0.type}}
                </p>
                <p>
                    Attack name(s): {{pokes.0.attacksPoke.0.name}}
                </p>
                <p>
                    Attack cost(s): {{pokes.0.attacksPoke.0.cost}}
                </p>
                <p>
                    Attack converted energy cost(s): {{pokes.0.attacksPoke.0.convertedEnergyCost}}
                </p>
                <p>
                    Attack damage(s): {{pokes.0.attacksPoke.0.damage}}
                </p>
                <p>
                    Attack text(s): {{pokes.0.attacksPoke.0.text}}
                </p>
                <p>
                    Weaknesses: {{pokes.0.weaknessesPoke.0.type}} {{pokes.0.weaknessesPoke.0.value}}
                </p>
                <p>
                    Retreat cost: {{pokes.0.retreatCostPoke}}
                </p>
                <p id="card-id" class="hide">
                    {{id}}
                </p>
                <button type="button" class="delete-card-btn">Delete Card</button>
            {{/if}}
        </div>
</div>
